figure.md-block-image {
    // margin: 0;
    margin: 10px 0;
    background: #fbfbfb;
    img {
        cursor: default;
        max-width: 100%;
        border: 1px solid #eee;
        box-sizing: border-box;

        &.is-selected {
            box-shadow: 0 0 0 3px #02b875;
        }
    }

    .md-block-image-inner-container {
        position: relative;
    }
    .md-block-image-toolbar-container {
        position: absolute;
        top: 0;
        right: 10px;
        cursor: pointer;
    }
}
