$add-btn-width: 39px;


.guided-side-toolbar {
  position: absolute;
  z-index: 1;
  left: -54px;
  top: -10px;
  transition: all 0.2s ease;
}

.guided-sb-button {
  background: #ffffff;
  border: none;
  color: #6D6D6D;
  cursor: pointer;
  height: $add-btn-width;
  width: $add-btn-width;
  border-radius: $add-btn-width/2;
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  border-radius: 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);

  overflow: visible;
  text-transform: none;

  &:focus {
    outline: none;
    border-color: #08c;
    color: #08c;
  }

  &:hover {
    color: green;
  }

  &.guided-sb-img-button {
    background-color: white;
  }

  svg {
    transition: all 0.2s ease;

    path {
      stroke: #545454;
    }
  }
}

.guided-add-button {

  &.guided-open-button {
    svg {
      transform: rotate(45deg);
    }
  }
}

.guided-example-appear {
  // opacity: 0.01;
  // transform: translateX(-25px) scale(0.1);
  transform: translate3d(-38px, 0px, 0px);
  opacity: 0;
}

.guided-example-appear.guided-example-appear-active {
  // opacity: 1;
  // transform: translate(0px, 0px) scale(1, 1) rotate(135deg);
  // transform: translateX(0px), scale(1);
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transition: all .5s ease-in;
}

.guided-example-enter {
  // opacity: 0.01;
  transform: translate3d(-38px, 0px, 0px);
  opacity: 0;
}

.guided-example-enter.guided-example-enter-active {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transition: all 500ms ease-in;
}

.guided-example-leave {
  opacity: 1;
}

.guided-example-leave.guided-example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
