.md-block-header-one {
    font-size: 2em;
}
.md-block-header-two {
    font-size: 1.7em;
}
.md-block-header-three {
    font-size: 1.3em;
}
.md-block-header-four {
    font-size: 1em;
}
.md-block-header-five {
    font-size: 0.8em;
}
.md-block-header-six {
    font-size: 0.7em;
}

.md-block-header-one,
.md-block-header-two,
.md-block-header-three,
.md-block-header-four,
.md-block-header-five,
.md-block-header-six {
    margin-bottom: 5px;
}

.md-block-todo {
    margin: 10px 0 10px 0;
    
    input[type=checkbox] {
        float: left;
        position: relative;
        top: 0px;
        left: -2px;
    }
    p {
        margin-left: 18px;
    }
}

.md-block-unordered-list-item, .md-block-ordered-list-item {
    padding-left: 20px;

    li {
        margin-bottom: 5px;
    }
}

.md-block-atomic-embed {
  margin: 10px 0;
}

.md-block-atomic-break {
    hr {
        max-width: 100px;
        border: 2px solid #ccc;
    }
}

.md-inline-link {
    color: #08c;

    &:visited {
        color: #08c;
    }
}