.guided-block-unordered-list-item, .guided-block-ordered-list-item {
    padding-left: 20px;

    li {
        margin-bottom: 5px;
    }
}

.guided-block-atomic-embed {
  margin: 10px 0;
}

.guided-inline-link {
    color: #08c;

    &:visited {
        color: #08c;
    }
}