
.guided-editor {
  cursor: text;
  position: relative;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  line-height: 1.4em;
  padding: 0;
}

.guided-editor .public-DraftEditorPlaceholder-root,
.guided-editor .public-DraftEditor-content {
  margin: 0px -15px -15px;
  padding: 15px;
}

.guided-editor .public-DraftEditor-content {
  min-height: 100px;
}

.guided-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.public-DraftEditor-content {
  .guided-block:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}

.guided-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  //font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.public-DraftStyleDefault-unorderedListItem,
.public-DraftStyleDefault-orderedListItem {
  margin-bottom: 10px;
}

.guided-editor-action {
  position: fixed;
  top: 5px;
  left: 5px;

  button {
    display: block;
  }
}
